[submodule "options"]
	path = options
	url = git@github.com:UpThemes/UpThemes-Framework.git
[submodule "inc/scssphp"]
	path = inc/scssphp
	url = git@github.com:leafo/scssphp.git
[submodule "inc/scssphp-compass"]
	path = inc/scssphp-compass
	url = https://github.com/leafo/scssphp-compass
