$site_background_color: #f4f4f4 !default;
$site_background_text_color: contrasted-colored-text($site_background_color) !default;

$primary_menu_background_color: #333 !default;
$primary_menu_link_color: contrasted-colored-text($primary_menu_background_color) !default;

$site_header_background_color: #333 !default;
$site_header_title_color: contrasted-colored-text($site_header_background_color,25%) !default;
$site_header_description_color: contrasted-colored-text($site_header_background_color,55%) !default;

$site_footer_widget_area_background_color: #333 !default;
$site_footer_widget_area_text_color: contrasted-colored-text($site_footer_widget_area_background_color) !default;
$site_footer_widget_area_link_color: contrasted-colored-text($site_footer_widget_area_background_color,25%) !default;
$site_footer_widget_area_field_color: subtle-contrast($site_footer_widget_area_background_color,8%) !default;
$site_footer_widget_area_field_text_color: contrasted-colored-text($site_footer_widget_area_field_color) !default;

$site_footer_background_color: #333 !default;
$site_footer_text_color: contrasted-colored-text($site_footer_background_color) !default;
$site_footer_link_color: contrasted-colored-text($site_footer_background_color,55%) !default;

$entry_background_color: #fff !default;
$entry_el_border_color: subtle-contrast($entry_background_color) !default;
$entry_title_color: contrasted-colored-text($entry_background_color) !default;
$entry_text_color: contrasted-colored-text($entry_background_color) !default;
$entry_subtle_text_color: contrasted-colored-text($entry_background_color) !default;
$entry_link_color: contrasted-colored-text($entry_background_color) !default;

$entry_code_bg_color: contrasted-colored-text($entry_background_color) !default;

body{
	color: $site_background_text_color;
}

.site-header{
	background-color: $site_header_background_color;

	.site-title a{
		color: $site_header_title_color;
	}

	.site-description{
		color: $site_header_description_color;
	}
}

.site-footer{
	background-color: $site_footer_background_color;
	color: $site_footer_text_color;

	a{
		color: $site_footer_link_color;
	}
}

.footer-widgets{
	background-color: $site_footer_widget_area_background_color;
	color: $site_footer_widget_area_text_color;

	.widget-title{
		color: $site_footer_widget_area_text_color;
	}

	a{
		border-color: $site_footer_widget_area_link_color;
		color: $site_footer_widget_area_link_color;
	}

	input[type="search"]{
		background-color: $site_footer_widget_area_field_color;
		color: $site_footer_widget_area_field_text_color;
		border: none;
		box-shadow: none;

		&::-webkit-input-placeholder { color: $site_footer_widget_area_field_text_color; }
		&::-moz-placeholder { color: $site_footer_widget_area_field_text_color; } /* firefox 19+ */
		&:-ms-input-placeholder { color: $site_footer_widget_area_field_text_color; } /* ie */
		&:-moz-placeholder { color: $site_footer_widget_area_field_text_color; }

		&:focus{
			background-color: subtle-contrast($site_footer_widget_area_field_color,10%);
			border: none;
		}
	}
}

.nav-primary{
	background-color: $primary_menu_background_color;

	.wrap > ul > li > a{
		color: $primary_menu_link_color;
	}
}

.content > .entry{
	background-color: $entry_background_color;
	color: $entry_text_color;
	border-color: subtle-contrast($entry_background_color);

	a{
		color: $entry_link_color;
	}
}

.entry-border-bottom{
	border-color: $entry_el_border_color;
}

.entry-title a{
	color: $entry_title_color;
}

.entry-content a{
	@extend .entry-border-bottom;
}

.entry-meta {
	color: $entry_subtle_text_color;

	a{
		@extend .entry-border-bottom;
	}
}

.entry-footer .entry-meta{
	@extend .entry-border-bottom;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}